* {
  margin: 0;
  padding: 0;

}

:root {
  --cor-primaria: #8C907E;
  --cor-secundaria: #111111;
  --cor-terciaria: #BBBBBB;

  --background-color-primaria: #FFFFFF;
  --background-color-secundaria: #F1F1F0;
  --background-color-terciaria: #EBEBEA;

  --font-color-black: #111111;
  --font-color-chumbo: #303030;
  --font-color-cinza: #9C9C9C;
  --font-color-branca: #FFFFFF;

  --icon-color-cinza: #A8A9A5;
  --icon-color-claro: #BFBFBF;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}


#container {
  width: 1024px;
  border: 1px solid black;
  background-color: var(--background-color-primaria);
}

header {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid black;
}

nav {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
}

main {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid black;
}

footer {
  width: 100%;
  height: 200px;
}

#infos {
  width: 100%;
  height: 160px;
  border-bottom: 1px solid black;
}

#infos-credit-card {
  width: 100%;
  height: 40px;
}